body
{
font-family: "Calibri";
font-size: 16px;         
}


header
{
    background-color: navy
    
}

h1  
{
    color: white;
    font-size: 3em;
    margin=0;
    border=0;
}

h2{
    color: white;
    font-size: 2em;
    
}

p{
    color: brown;
    
}
