/*  Basic Settings */
* 
{
    box-sizing: border-box;
}

html
{
    background-color: lightgray;
}

body
{
    font-family: "Trebuchet MS";
    font-size: 16px; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: white;
  /*  padding: 10%;*/
}

.clearfix:after 
{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: none;
    
}

/*  H1 and H2   */

h1  
{
    color: white;
    font-size: 40px;
    margin: 0;
    border=0;
    position: relative;
    top: 0px;
    left:10px;
    
}

section > h2
{
    border-bottom: 2px solid midnightblue; 
    border-top: 2px solid midnightblue; 
    text-align: center;
    
}

h3
{
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}
/*  Header  */

header
{
    background-color: midnightblue;
}

nav ul
{
    float: right;
    padding-bottom: 0px;
    padding-left: 0px; 
    padding-right: 5px;
    margin-bottom: 2px;
}

nav > ul > li  
{
    display: inline;
    text-decoration: none;
    padding: 0;
 
}

nav > ul > li:after  
{
    content:"|";
    color: white;
 
}

nav > ul > li:last-child:after  
{
    content:"";
    color: white;
 
}


nav > ul > li > a 
{
    color: white;
    font-size: 16px;
    text-decoration: none;
    
}

/*  About me   */

.intro
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
        
}

.intro img 
{
    border-radius: 50px;
}

/*  Education section   */
.jo
{
    font-size: 13px;
    margin-top: 0px;
    display: block;
    position: relative;
    bottom:4px;
    left:2px;
}


/*  Skills section left as it is     */

/*  Employment History */

.touch li
{
    display: inline;
    text-decoration: none;
    font-size: 13px;
}

.touch li:after  
{
    content:"|";
    color: midnightblue;
}

.touch li:last-child:after  
{
    content:"";
}

.touch
{
    display: block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 13;
    position: relative;
    bottom:7px;
    left:2px;
}

/*  Hobbies section left as it is */

/*  Contact me    */

/*    Form: ; */

.form 
{
    /* border: 2px solid midnightblue;*/
     width: 50%;
     padding-top:5px; 
     padding-right: 15px;
     padding-bottom: 10px;
     padding-left: 6px;
     float: left;
     margin-left: 3%
         
}

.form > h3
{
    margin: 2px;
    text-align: center;
    text-decoration: underline;
    
}
input
{
    display: block;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    font-family: "Trebuchet MS";
    margin: 5px;
    letter-spacing: 1px;
    line-height: 1.5;
}

label
{
    /*margin-left: 2%;*/
}

textarea
{
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: "Trebuchet MS";
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    letter-spacing: 1px;
    line-height: 1.5;
    
}

input[type=submit]
{
    font-weight: bold;
    cursor: pointer;
}



/*    Icons  */

.medium a
{
    color: black;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
    width: 20%;
    position: relative;
    left: 30%;
}

.medium
{
    /*border: 2px solid midnightblue;*/
    width: 40%;
    float: right;
    /*margin-left: 5px;*/
    /*padding-top: 55px;*/
}

/*  Footer  */

footer
{
    background-color: midnightblue;
    display: block;
    text-align: center;
    clear: both;
    color: white;
    padding-top: 20px;
    padding right:20px;
    padding-left:20px ;
    padding-bottom: 10px;
        
}

footer > a
{
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 29%;
    position: relative;
    left: 35%;
    /*padding: 20px;*/
    margin-bottom: 0;
    text-align: center;
}
